* {
    font-family: Verdana, sans-serif;
    /* word-break: break-all; */
    text-align: center;
    align-content: center;
    vertical-align: middle;

    box-sizing: border-box;

    border-radius: 10px;
    clear: both;

    transition: all 0.33s linear;
}

body {
    background-color: rgba(var(--bg-shade3), var(--opacity));
    color: var(--font-color);
    text-align: center;

    font-size: 15px;

    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-attachment: fixed;

    /* background: fixed no-repeat cover center; */

    transition: margin 0.33s linear, padding 0.33s linear;
}

main {
    margin: 10px;
    background-color: rgba(var(--bg-shade1), var(--opacity));

}

header,
footer,
main {
    backdrop-filter: blur(32px);
}

header,
footer {
    width: 100%;
    padding: 10px;
    background-color: rgba(var(--bg-shade3), var(--opacity));
    box-shadow: 0 0px 40px var(--shadow);
    /* background-color: rgba(var(--bg-shade2), var(--opacity)) */
    position: sticky;;
}

header {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
}

footer {
    margin-top: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* bottom: 0; */
}

section {
    display: block;
    box-sizing: content-box;
    overflow: auto;
}

main>section:first-child {
    border-radius: 10px 10px 0 0;

}

/* Apply border radius to the last child */
main>section:last-child {
    border-radius: 0 0 10px 10px;

}

/* Apply sharp corners to children in between */
main>section:not(:first-child):not(:last-child) {
    border-radius: 0;

}

body:has(header):has(footer):has(main) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

