:root{
    --fade: #656565;
    --shadow: #121212;
    --highlight: rgb(255, 0, 85);
    --opacity: 1;
}

[theme="light"], [theme="dark"]>[theme="alt"]  {
    --bg-shade1: 222, 222, 222;
    --bg-shade2: 245, 245, 245;
    --bg-shade3: 255, 255, 255;
    --shadow: #555;
    --font-color: #222;    
}

[theme="dark"], [theme="light"]>[theme="alt"] {
    --bg-shade1: 33, 33, 33;
    --bg-shade2: 21, 21, 21;
    --bg-shade3: 0, 0, 0;
    --font-color: #eee;
}

[theme]{
    --semi-transparent: 0.66;
    --sidebar-bg: var(--bg-shade1);
}
