input,
button, textarea,select {
    background-color: var(--bg-shade1);
    border-radius: 6px;
    border: none;
    text-align: center;
    padding: 4px;
    color: var(--font-color);
    cursor: pointer;
    margin: 10px;
}

/* button {
    padding: 5px 10px;

} */

input, textarea, select{
    width: calc(100% - 20px);
    max-width: 250px;
    text-align: left;
}

textarea{
    align-content: start;
}

input:focus, textarea:focus{
    outline: none;
}

form{
    margin: 0;
}