/* BG colors */
[transparent] {
    background: none;
}

[semi-transparent] {
    background-color: var(--semi-transparent);
}

[shade1] {
    background-color: var(--bg-shade1);
}

[shade2] {
    background-color: var(--bg-shade2);
}

[shade3] {
    background-color: var(--bg-shade3);
}

/* BG Image layout */

[tiles]{
    background-attachment: scroll;
    background-size:auto;
}