/* BG colors */

.blur {
    backdrop-filter: blur(50px);
}

.clear-bg {
    backdrop-filter: none;
}

.transparent {
    background: none;
}

.semi-transparent {
    --opacity: var(--semi-transparent);
}

.shade1 {
    background-color: rgba(var(--bg-shade1), var(--opacity));
}

.shade2 {
    background-color: rgba(var(--bg-shade2), var(--opacity));
}

.shade3 {
    background-color: rgba(var(--bg-shade3), var(--opacity));
}

/* BG Image layout */

.tiles {
    background-attachment: scroll;
    background-size: auto;
}