<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="../../kawaii-ui/styles/kawaii.css">
    <script src="../../kawaii-ui/scripts/kawaii2.js"
        defer></script>
    <script src="./float.js" defer></script>
    <title>Page Layout test</title>
</head>

<body theme="dark" style="background-image: url('./img/mw.jpg');">

    <header class="row between semi-transparent">
        <button sidebarToggle="left"></button>
        <h1>A page</h1>
        <button toggleTheme></button>
        <button sidebarToggle="right"></button>
    </header>

    <sidebar position="left">
        <h2>Left Sidebar</h2>
        <p><a
                onclick="popupShow(popup(`<h1>Ami Bhalo</h1>Saith Walidiator`))">Popup</a>
        </p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
    </sidebar>

    <sidebar position="right" class="hide semi-transparent blur">
        <h2>Right Sidebar</h2>
        <input name="email" type="email" placeholder="Enter your email">
        <input name="password" type="password" placeholder="Enter your password">
    </sidebar>

    <main class="semi-transparent">
        <h1>Main Content</h1>
        <p>This is the main content area. You are the best
        </p>

        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
        <p>Some content here</p>
    </main>

    <footer class="semi-transparent">
        <h5>by Shad</h5>
    </footer>

</body>

</html>