input,
button, textarea,select {
    background-color: rgba(var(--bg-shade1), var(--opacity));
    border-radius: 6px;
    border: 2px solid rgba(var(--bg-shade3), var(--opacity));
    text-align: center;
    padding: 4px;
    color: var(--font-color);
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0px 5px var(--shadow);
}

/* button {
    padding: 5px 10px;

} */

input, textarea, select{
    width: calc(100% - 20px);
    max-width: 250px;
    text-align: left;
}

textarea{
    align-content: start;
}

input:focus, textarea:focus{
    outline: none;
    border-color: var(--highlight);
}

form{
    margin: 0;
}