
/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #000;
}

*::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #888;
    border-radius: 5px;
    border: 1px solid #555;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}